/***Tabs***/
.ui-resizable-handle{ width:5%; }
#tabs-wrapper {
    position: relative;
    float: right;
    right: 1vh;
    top: 1vh;
    height: calc(100% - 5vh) !important;
    width: 60vw;
    overflow: hidden !important;
    z-index:46;
    max-width:calc(100vw - 10vh);
}
#tabs-wrapper .tabs-above {
    position:absolute;
    width:100% !important;
    height:100% !important;
    box-shadow: inset 0px 0 40px rgba(0,50,50,.7);
    z-index:46;
    overflow:hidden;
    color:rgb(85,85,85);
}
#tabs-wrapper, 
#tabs-wrapper .tabs-above {
    border-radius: 4vh;
    border-left-style: groove;
    border-right-style: groove;
    border-color: rgba(200,200,200,0.25);
    box-sizing: border-box;
}
#tabs.nav {
    position: absolute;
    height: 10vh !important;
    width: 100% !important;
    top: 0;
    right: 0;
    margin: 0;
    z-index: 50;
    box-sizing: border-box;
    border-top-right-radius: 4vh;
    border-top-left-radius: 4vh;
    overflow: hidden !important;
    border-bottom: none;
}
#tabs.nav:before {
      position: absolute;
      width: 100%;
      height: 10vh;
      z-index: -1;
      margin:1px;
}
#tabs.nav > li {
    width: 14.28%;    
    height: 10vh;
    z-index:100;
    margin:0;
    float:right;
    overflow:hidden;
}
#tabs.nav > li > a {
    text-align: center;
    vertical-align: bottom;
    font-size: 1.2vw;
    font-family: serif;
    font-weight: bold;
    color: rgba(125,125,25,.8);
    text-shadow: 0px 0px 5px rgba(25,25,125,.3);
    height: 10vh;
    padding: 2vh 1.1vw;
    line-height: 3vh;
    box-sizing: border-box;
}
#tabs.nav > li *,
#tabs.nav > li > a,
#tabs.nav > li.active > a,
#tabs.nav > li.active > a:focus,
#tabs.nav > li.active > a:hover:focus {
    background:none;
    border:none;
    margin-bottom:-1px;
    text-decoration: none;
}
#tabs.nav > li > a:hover,
#tabs.nav > li.active > a:hover {
  background: radial-gradient(ellipse at center, rgba(175,200,225,0.3) 0%, rgba(200,200,200,.0) 70%) !important;
}

/***Tray***/
#tray {
  position: absolute;
  bottom:0;
  width:calc(100% - 6px);
  margin: 0 3px;
  z-index: 50;
}
#tray button.btn { 
  text-shadow:none;
  position: relative;
  float: right;
  z-index: 100;
  width: calc(100% / 5);
  height: 8vh;
  bottom: 0;
  margin: 0;
  background: rgba(125,125,125,.5);
  color: rgba(20,20,20,.4);
  font-size: 32px;
  border:1px groove rgba(200,200,200,.2);
}
#tray button:first-child {
  border-bottom-right-radius:4vh;
}
#tray button:last-child {
  border-bottom-left-radius:4vh;
}

/***Maps***/
.qmap  {
   position: absolute;
    top: 10vh;
    bottom: 0;
    z-index: 50;
    width: 100% !important;
    border-bottom-left-radius: 4vh;
    border-bottom-right-radius: 4vh;
    margin: 0 1px;
    overflow: hidden !important;
    height: auto !important;
}
.mapjs-node > span { font-weight:normal; }
.mapjs-node > p {
    position: relative;
    top:-50%; 
    right: 50%;
    font-weight: bold;
    background: rgba(200,200,200,1);
    padding: 10px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    box-shadow: inset 1px 1px 10px black;
}

/**Map Nodes**/
.mapjs-node:before {
    content:attr(name);
    position:absolute;
    top:-20px;
    left:0;
    color:#777;
}

/***Tables***/
#ascrail2001-hr{ visibility:hidden; }
.shiny-datatable-output {
    overflow:auto;
    border-bottom-left-radius: 4vh;
    border-bottom-right-radius: 4vh;
    position:absolute;
    top:10vh;
    bottom:0;
    width:calc(100% - 2vh);
    padding: 1vh;
    padding-bottom:8vh;
}
.dataTables_wrapper { height:100.3%; }
.shiny-datatable-output table {
    width: 100%;
    font-size: 12px;
    position: relative;
}
.shiny-datatable-output .table-bordered{
    border:none;
}
.shiny-datatable-output table th, 
.shiny-datatable-output table td {
    padding: .4vh;
    line-height: 16px;
    text-align: left;
    vertical-align: top;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(50,50,50,.1);   
}
.table-striped tbody>tr:nth-child(odd)>td, .table-striped tbody>tr:nth-child(odd)>th {
    background-color: rgba(200,200,200,.2);
}
.shiny-datatable-output table tfoot th{
    padding:0;
}
.shiny-datatable-output input {
    padding:0;
    margin:0;
    color:#ccc;
    background: rgba(50,50,50,.3);
    box-sizing: border-box;
}
.shiny-datatable-output input::-webkit-input-placeholder {
    color:#ccc;
}
.table-hover tbody tr:hover>td, .table-hover tbody tr:hover>th {
    background-color: rgba(150,200,250,.3);
}
.shiny-datatable-output select {
    background: none;
    border:none;
    box-shadow: 1px 1px 5px 0px rgba(0,0,0,.1);
}
.pagination ul>li>a,
.pagination ul>li>span {
    background:none;
    border:none;
    box-shadow: 1px 1px 5px 0px rgba(0,0,0,.1);
}
.pagination ul>li>a:hover,
.pagination ul>li>a:focus,
.pagination ul>.active>a,
.pagination ul>.active>span,
.pagination ul>.disabled>span,
.pagination ul>.disabled>a,
.pagination ul>.disabled>a:hover,
.pagination ul>.disabled>a:focus {
    background:none;
    box-shadow:none;
}

