@media only screen and (max-height: 600px) {
  #tabs.nav li a {
      color:transparent !important;
      text-shadow:none !important;
      padding:calc(5vh - 1.2vw) 5%;
  }
  button > .fa {
    font-size: .8em;
  }
  #tray button.btn {
    padding: 0;
    height: 40px;
  }
  #prompt-box {
      height:40px;
  }
  #prompt{
      font-size:20px;
  }
  #tabs-wrapper {
      height:calc(100% - 36px) !important;
  }
  #panels.nav + .tab-content {
      height:calc(99.6vh - 40px);
  }
  
}

@media (max-width: 767px) {
  body {
    padding-right: 0px !important;
    padding-left: 0px !important;
  }
}