@media only screen and (max-height: 600px) {
  .fa-2x {
    font-size: 1em !important;
  }
  button > .fa {
    font-size: .5em;
  }
  .btn {
    padding: .5vh;
  }
  #prompt-box {
      height:40px;
  }
  #panels.nav + .tab-content {
      height:calc(99.6vh - 40px);
  }
}

@media (max-width: 767px) {
  body {
    padding-right: 0px !important;
    padding-left: 0px !important;
  }
}