/***Sidebar***/
#panels.nav {
    z-index: 20;
    position: relative;
    top: 0;
    right: 0;
    padding: 0;
    margin: 0;
    border-style: none;
    overflow:hidden;
    height:auto;
    background:linear-gradient(180deg, rgba(67,67,67,.8) 90%,rgba(67,67,67,0) 100%);
}
#panels.nav > li {
    margin:-.5vh;
    width:10vh;
    box-sizing:border-box;
    float:right;
}
#panels.nav > li > a {
    position:relative;
    color:gray;
    background:none;
    font-size:calc(1vh + 1vw);
    padding: 3vh;
    margin:0;
    border-radius:0;
}
#panels.nav > li:first-child {
    z-index: 150;
    position: relative;
    margin:0;
    float:left;
    padding-bottom:2px;
}
#panels.nav > li:first-child > a { 
    line-height: calc(2vw + 4vh) !important;
    font-size: calc(2vw + 4vh) !important;
    font-family: serif;
    font-weight: 200;
    padding: 1vh 0 0 2vh;
}
#panels.nav > li:first-child > a:after {
    content: 'R';
    color: rgba(110,135,205,.4);
    position: relative;
    left: calc(-1.4vw - 2.2vh);
    bottom: calc(.2vw + .4vh);
    font-size: calc(1.4vw + 2.8vh);
    z-index: -1;
    font-family: sans-serif;
    font-weight: bold;
    text-shadow: none;
}
#panels.nav + .tab-content {
    z-index: 10;
    position: absolute;
    top: 0;
    left: 0;
    padding: 0;
    bottom: 5vh;
    border-style: none;
    overflow: hidden;
    height:94.6vh;
    width: 45vw;
    min-width:10vh;
}

/***Q***/
div#chat {
    position: absolute;
    bottom: 0;
    color: #CCC;
    margin-left: 1vh;
    font-family:cursive;
}
/***Console***/
#ascrail2000-hr{ visibility:hidden; }
#console-panel {
    position: absolute;
    top: calc(2vw + 4vh);
    left: 0;
    width: 100%;
    bottom: 0;
    overflow: scroll;
}
#fadeup {
    position: fixed;
    top: 0;
    width:100%;
    bottom: 0;
    left: 0;
    z-index: 45;
    pointer-events:none;
    background: linear-gradient(00deg, rgba(68,68,68,0) 0%, rgba(68,68,68,.01) 75%, rgba(68,68,68,1) 98%);
}
#console {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding:0;
    margin:0;
    list-style-type: none;
    font-family: monospace;
    background: none;
    border: none;
    z-index:0;
}
#console p {
    font-size: 14px;
    line-height: 16px;
    word-break: normal;
    word-wrap:normal;
    white-space:pre-wrap;
    width:100%;
    margin:0;
    padding:0;
    padding-left:5px;
    background:none;
    border:none;
    color: rgb(240,240,240);
}
#console p.js-out {
    white-space:pre-line;
}
#console div p:first-child {
    margin-top: 5vh;
}
#console p.in, p.js, p.help {
    color:rgb(200,200,200);
    margin-top: 1vh;
}
#console hr {
  margin: .5vh 0 0 3px;
  border: 1px rgba(168,168,168,.1);
  border-style: inset;
  width: 98%;
}
#console .message {
    color:darkseagreen;
}
#console .warning {
    color:yellow;
}
#console .error {
    color:red;
}


/***Plot***/
#plot img {
    position: absolute;
    top: 7vh;
    margin: 1vh;    
    height: auto;
}

/***Configuration***/
#panels.nav > li:first-child + li + li { display:none; }
#config-panel {
    position: absolute;
    top:12vh;
    width:96%;
    margin: 0 1%;
    color:rgb(200,200,200);
}
#config-panel .table-bordered td {
  border-left: none;
  border-right: 1px dashed rgba(168,168,168,.1);
  border-top:1px solid rgba(168,168,168,.1);
}
#config-panel .table-bordered {
  border: none;
  width: 100%;
}
#config-panel .table-bordered th {
  border:none;
}
#config-panel label {
    display: block;
}
#config-panel input {
    position: relative;
    width: 95%;
    margin: 0 1%;
    background: rgba(200,200,200,.2);
    color: white;
    border: none;
}

/***Help***/

#help iframe {
    position: relative;
    width: calc(100% - .5vh);
    height: 85vh;
    border: none;
    left: .5vh;
    top: 10vh;
}
#help-panel { display: none; }
.active #help-panel { display: block; }