/***Page***/
body {overflow:hidden;
      background:#444;}

*:focus{ outline: 0; }

.container-fluid {
    position:absolute;
    overflow:hidden;
    color:#777;
    top:0;
    right:0;
    bottom:0;
    left:0;
    padding: 0;
    margin: 0;
}

.nav > li > a { transition-duration:.2s; }
.nav > li.active > a,
.nav > li.active > a:hover {
  color:rgb(250,250,250) !important;
  text-shadow: 0px 0px 10px white !important;
  font-weight:bold;
}

.tab-content > .tab-pane {
    display: block;
    visibility: hidden;
}
.tab-content > .tab-pane.active {
    display: block;
    visibility: visible;
}

/***Prompt***/
#prompt-box {
    position: absolute;
    bottom: 0;
    left: 0;
    width:100vw;
    height: 5vh;
    font-family: monospace;
    box-sizing:border-box;
}
#prompt-box label  {
    position: absolute;
    top:25%;
    left: .5vh;
    font-size: 4vh;
    color: #ddd;
    z-index: 1;
    font-weight: bold;
}
#prompt {
    position: absolute;
    box-sizing:border-box;
    left: 0;
    bottom: 0;
    width:100%;
    height:100%;
    margin: 0;
    padding-left:3vh;
    font-size: 2.5vh;
    line-height: 3vh;
    background: #888;
    border: 2px solid #888;
    border-top: 3px solid #aaa !important;
    border-radius:0;    
    color:#ddd;
}