* { transition: 
        margin .2s ease-out, 
        padding .2s ease-out, 
        background-color .5s ease-out,         
        box-shadow 1s ease-out,
        opacity 1s ease-out, 
        
        border-width    .2s ease-out, 
        border-spacing .2s ease-out,
        outline-color 1s ease-out, 
        outline-width 1s ease-out, 
        font-size 1s ease-out, 
        font-weight 1s ease-out, 
        letter-spacing 1s ease-out, 
        word-spacing 1s ease-out, 
        line-height 1s ease-out, 
        vertical-align 1s ease-out, 
        text-indent 1s ease-out;
        /*
        border-color .2s ease-out, 
        color .2s ease-out, 
        background-position .2s ease-out, 
        top    .2s ease-out,
        right .2s ease-out, 
        bottom .2s ease-out, 
        left .2s ease-out, 
        z-index    .2s ease-out;
        height .2s ease-out, 
        width .2s ease-out, 
        max-height .2s ease-out, 
        max-width .2s ease-out, 
        min-height .2s ease-out, 
        min-width .2s ease-out, 
        clip .2s ease-out, 
        text-shadow .2s ease-out,
        */
}
.tabs-wrapper .tabs-above {
    transition: .2s opacity;
    opacity: 0;
}
#tabs.nav:before{
    transition: 1s opacity ease-in;
    opacity:0;
}
#Queries {
    transition-delay: 1s;
    transition: 1s opacity ease-in, 1s left ease-out;
    left: 0;
    opacity: 0;
}
.mapjs-node { transition: 0; }