ul#tabs {
   background: radial-gradient(ellipse at center, #ffffee 40%,#ddbbbb 100%);
}  

#tabs:before {
  background:linear-gradient(90deg, 
    rgba( 205, 255,  255, .2)  0%, rgba( 205, 255, 255, .2) 12%,
    rgba( 225,  75,   50, .2) 12%, rgba( 225,  75,  50, .2) 23%,
    rgba( 200, 125,   75, .2) 23%, rgba( 200, 125,  75, .2) 34%,
    rgba( 175, 175,  100, .2) 34%, rgba( 175, 175, 100, .2) 45%,
    rgba( 150, 225,  125, .2) 45%, rgba( 150, 225, 125, .2) 56%,
  	rgba( 125, 200,  150, .2) 56%, rgba( 125, 200, 150, .2) 67%,
  	rgba( 100, 150,  175, .2) 67%, rgba( 100, 150, 175, .2) 78%,
  	rgba(  75, 100,  200, .2) 78%, rgba(  75, 100, 200, .2) 89%,
  	rgba(  50,  50,  225, .2) 89%, rgba(  50,  50, 225, .2) 100%);
}

#Workspace.qmap {background:rgba( 205, 255, 255, .2); }
#Views.qmap {    background:rgba( 225,  75,  50, .2); }
#Styles.qmap {   background:rgba( 200, 125,  75, .2);  }
#Names.qmap {    background:rgba( 175, 175, 100, .2); }
#Data.qmap {     background:rgba( 150, 225, 125, .2); }
#Sources.qmap {  background:rgba( 125, 200, 150, .2);  }
#Classes.qmap {  background:rgba( 100, 150, 175, .2); }
#Units.qmap {    background:rgba(  75, 100, 200, .2); }
#Formulae.qmap { background:rgba(  50,  50, 225, .2);  }  