
/***Sidebar***/

#sidebar {
    z-index:10;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 33vw;    
    margin:0;
    padding:0;
    border-style: none;
    background: #444;
}

#panels.nav > li > a {
    color:gray;
}

/***Console***/

#console-panel {
    position: absolute;
    top: 4vh;
    left: 0;
    width:100%;
    bottom: 50px;
    overflow:hidden;
}
#fadeup {
    position: absolute;
    top: 0;
    width:100%;
    bottom: 5px;
    left: 0;
    z-index: -1;
    pointer-events:none;
    background: linear-gradient(00deg, rgba(68,68,68,0) 70%, rgba(68,68,68,1)  98%);
}

#console {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    padding:0;
    margin:0;
    list-style-type: none;
    font-family: monospace;
    background: none;
    border: none;
    z-index:-2;
}
#console pre {
    font-size:1.09vw;
    line-height:1.7vw;
    width:100%;
    margin:0;
    padding:0;
    background:none;
    border:none;
    color: rgb(240,240,240);
}
#console .in {
    color:rgb(200,200,200);
    margin-top:1vh;
}
#console .warning {
    color:yellow;
}
#console .error {
    color:red;
}

/***Database***/

#query {
    position: absolute;
    bottom: 65px;
    width: 96%;
    margin: 0 1%;
    background: rgba(200,200,200,.2);
    color: white;
    border: none;
}
#qbase {
    position: absolute;
    top:15vh;
    width:96%;
    margin: 0 1%;
    color:rgb(200,200,200);
}

/***Tray***/
.tray {
    position: fixed;
    left: 32vw;
    padding-left: 2vh;
    right: 0;
    bottom: 40px;
    z-index: 60;
    background: rgba(200,200,200,.2);
    border: groove rgba(0,0,0,0);
    border-top-right-radius: 1vh;
    box-shadow: 3px -5px 50px 5px rgba(50,50,0,.15);
    height:8vh;
}
#save, #load {
    position: absolute;
    z-index: 100;
    width: 6vh;
    height: 6vh;
    bottom: 45px;
    margin: 1vh;
    background: none;
    color: rgba(20,20,20,.4);
    font-size: 32px;
}
#load {
    margin-left: 8vh;
}